<div class="todos-wrapper">
  <div class="container">
    <div class="todo-item completed">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">This is the todo text</p>
    </div>

    <div class="todo-item">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fuga vel
        fugiat dignissimos perspiciatis iste harum modi laborum explicabo
        architecto? Pariatur earum perferendis, porro quibusdam dolorum
        architecto dolores culpa nobis.
      </p>
    </div>
  </div>
</div>
